# .github/workflows/ci.yml
name: CI Quality Check

on:
    push:
        branches: ['main']
        paths:
            - '**.py'
            - 'pyproject.toml'
            - 'uv.lock'
    pull_request:
        branches: ['main']

jobs:
    quality-check:
        name: Lint & Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                  enable-cache: true
                  version: 'latest'

            - name: Set-up Python
              uses: actions/setup-python@v6
              with:
                  python-version-file: 'pyproject.toml'

            - name: Install dependencies
              run: uv sync --all-extras --dev

            # Pastikan kode sesuai standar PEP8 & tidak ada error syntax
            - name: Run Linter (Ruff)
              run: uv run ruff check .

            # (Opsional) Cek formatting
            - name: Check Formatting
              run: uv run ruff format --check .
