name: Claim Daily Reward

on:
    schedule:
        # Jam 21:00 UTC = Jam 05:00 WITA
        - cron: '0 21 * * *'
    workflow_dispatch: # Tombol manual untuk tes

jobs:
    daily-claim:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
                  version: 'latest'

            - name: Set-up Python
              uses: actions/setup-python@v5
              with:
                  python-version-file: 'pyproject.toml'

            - name: Install dependencies
              # Gunakan --frozen untuk memastikan versi library sama persis dengan dev
              run: uv sync --frozen

            - name: Run daily claim script
              env:
                  # Secrets Wajib
                  SECRET_KEY: ${{ secrets.SECRET_KEY }}
                  COOKIE_API: ${{ secrets.COOKIE_API }}
                  DC_WH_DAILY: ${{ secrets.DC_WH_DAILY }}

                  # Variables Opsional
                  LOCALE: ${{ vars.LOCALE }}
                  NO_GENSHIN: ${{ vars.NO_GENSHIN }}
                  NO_STARRAIL: ${{ vars.NO_STARRAIL }}
                  NO_ZZZ: ${{ vars.NO_ZZZ }}
                  NO_HONKAI: ${{ vars.NO_HONKAI }}
                  NO_TOT: ${{ vars.NO_TOT }}
              run: uv run daily.py
